.row {
  display: flex;
  flex-direction: row;
}

.cell {
  height: 40px;
  width: 40px;
  border: solid 1px #e7e1e1;
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

button {
  font-size: 16px;
  padding: 10px 15px;
  background-color: rgb(155, 83, 222);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
